#mainContainer {
    display: grid;
    grid-template-columns: min-content auto ;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "sidebar main ";
    width: 100%;
}
#nav {
    background-color: #0f6674;
    color: white;
    grid-area: header;
    padding: 0 1em;
    margin: 0 0 1em 0;
}
#sideBar {
    grid-area: sidebar;
    position: sticky;
    height: fit-content;
    margin: 1em 1em;
    width: fit-content;
}
#content {
    grid-area: main;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow-x: auto;
    margin: 1em 1em;
}
